|
  $zoneTranslationForm = $("form#edit_zone_translation_#{@zone_translation.id}");

- if @zone_translation.valid?
  |
    $zoneTranslationForm.find('.update-btn').removeClass('btn-primary').addClass('btn-success');
    setTimeout(function(){ $zoneTranslationForm.find('.update-btn').removeClass('btn-success').addClass('btn-primary'); }, 3000);
- else
  |
    $zoneTranslationForm.find('.update-btn').removeClass('btn-primary').addClass('btn-danger');